aiofiles==24.1.0
anaconda-anon-usage @ file:///C:/b/abs_c3w_h1zzjg/croot/anaconda-anon-usage_1710965204622/work
anyio==4.4.0
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
archspec @ file:///croot/archspec_1709217642129/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
Automat @ file:///home/conda/feedstock_root/build_artifacts/automat_1667331175863/work
bcrypt @ file:///D:/bld/bcrypt_1715971805756/work
boltons @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/boltons_1699480450092/work
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
browserforge==1.1.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1720457958366/work/certifi
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
conda @ file:///D:/bld/conda_1715632055038/work
conda-content-trust @ file:///C:/b/abs_bdfatn_wzf/croot/conda-content-trust_1714483201909/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///C:/b/abs_831_pypuuz/croot/conda-package-handling_1718138287790/work
conda_package_streaming @ file:///C:/b/abs_fe6zb0_j8_/croot/conda-package-streaming_1718136098642/work
constantly==15.1.0
cryptography @ file:///C:/b/abs_97lgskwerx/croot/cryptography_1714664736250/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1719088281970/work
frozendict @ file:///C:/b/abs_2alamqss6p/croot/frozendict_1713194885124/work
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1715111453050/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1717440375591/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
jsonpatch @ file:///C:/b/abs_4fdm88t7zi/croot/jsonpatch_1714483974578/work
jsonpointer==2.1
libmambapy @ file:///C:/b/abs_89suv9zwkz/croot/mamba-split_1714484512428/work/libmambapy
lxml @ file:///C:/b/abs_0byi7jajph/croot/lxml_1715289521201/work
markdown-it-py==3.0.0
mdurl==0.1.2
menuinst @ file:///C:/b/abs_e7zsrwvoy0/croot/menuinst_1718132546150/work
orjson==3.10.7
packaging @ file:///C:/b/abs_cc1h2xfosn/croot/packaging_1710807447479/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1714637952682/work
platformdirs @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/platformdirs_1701797392447/work
pluggy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pluggy_1699472504117/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1712316608681/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1713209357222/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1713209683338/work
pycosat @ file:///C:/b/abs_5csdern___/croot/pycosat_1714513102923/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.5
Pygments==2.18.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
pywin32==306
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1714989370868/work
requests @ file:///C:/b/abs_9c5n24p1y7/croot/requests_1716902867639/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1716356557602/work
rich==13.8.0
ruamel.yaml @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ruamel.yaml_1699483184324/work
Scrapy @ file:///D:/bld/scrapy_1715855528866/work
service-identity @ file:///home/conda/feedstock_root/build_artifacts/service-identity-build_1700936484042/work
setuptools==69.5.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.1
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1710828352964/work
tqdm @ file:///C:/b/abs_a7h7n45ccq/croot/tqdm_1716395987133/work
truststore @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/truststore_1701881385424/work
Twisted @ file:///D:/bld/twisted_1709332399019/work
twisted-iocpsupport @ file:///D:/bld/twisted-iocpsupport_1695469053290/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3 @ file:///C:/b/abs_a7hvzm4y95/croot/urllib3_1718912661242/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1718193888625/work
wheel==0.43.0
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
zope.interface @ file:///D:/bld/zope.interface_1716554750277/work
zstandard @ file:///C:/b/abs_e46tf0_91g/croot/zstandard_1714678303615/work
